body nav .nav-link {
    color: #ffffff; /* Couleur de texte blanche */
}

.navbar-brand{
    color: #ffffff;
}

.navbar {
    background-size: cover;
    padding: 20px
}

.logo {
    color: #ffffff;
    padding-left: 5px
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.cadre-vide {
    width: 200px; /* Largeur du cadre */
    height: 100px; /* Hauteur du cadre */
    border: 2px solid #000; /* Bordure de 2 pixels en noir */
    padding: centre;
    /* Autres styles CSS au besoin */
}

.conteneur-avec-bordure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12vh;
}

.liste-de-pages {
    text-align: center;
    margin: 20px 0;
}

.liste-de-pages ul {
    list-style: none;
    padding: 0;
}

.liste-de-pages li {
    margin: 10px 0;
    font-size: 25px;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0);
    padding: 100px;
    margin-left: 25%;
    margin-right: 25%;
}

.liste-de-pages a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s;
}

.liste-de-pages a:hover {
    color: #4583A2;
}
