
body nav .nav-link {
    color: #ffffff; /* Couleur de texte blanche */
}

.navbar-brand{
    color: #ffffff;
}

.navbar {
    background-image: url('../assets/fond-footer.png');
    background-size: cover;
    padding: 20px
}

.logo {
    color: #ffffff;
    padding-left: 5px
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}