body nav .nav-link {
    color: #ffffff; /* Couleur de texte blanche */
}

.navbar-brand{
    color: #ffffff;
}

.navbar {
  background-image: url('../assets/fond-footer.png');
  background-size: cover;
  padding: 20px
}

.logo {
    color: #ffffff;
    padding-left: 5px
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url("../assets/fond-footer.png");
    background-size: cover;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#header {
    background-color: #0925dc;
}


.body.button{
    left: 0;
    right: 0;
    text-align: right;
    border: #0925dc;
}


.header{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: black ;
    align-items: center;
    justify-content: space-around;
}
.header .title{
 width: 50%;
 padding-left: 40px;
 font-weight: bold;
 cursor: pointer;
}
.header .title i{
    margin-right: 20px;
}
.header .input-group{
    width: 35%;
}

.header .profile{
    cursor: pointer;
    font-size: 30px;
    width: 15%;
    padding-left: 10px; 
    color: black;
    padding-bottom: 10px;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.container .item_1{
    
    width: 50%;
}
.container .item_1 .para{
    margin-top: 20px;
    font-size: 13px;
}
.container .item_1 .but{
    margin-top: 50px;
}
.container .item_1 .but button{
    width: 200px;
    outline: none;
    text-decoration: none;
    height: 40px;
    border-radius: 20px;
    padding: 4px;
    background-color: #0925dc;
    border: none;
}
.container .item_2{
    
    width: 50%;
}
.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cont .e1 h6{
    margin-top: 7px;
 }
.cont .e2 h6    {
    margin-top: 7px;
 }

.cont .e4{
    width: 250px;
    height: 200px;
 }
 .cont .e4 p{
    font-size: 10px;
    color: gray;
 }
 .cont .e4 .but button{
    width: 200px;
    outline: none;
    text-decoration: none;
    height: 40px;
    border-radius: 20px;
    padding: 4px;
    background-color: #1009dc;
    border: none;
 }

 .container .rhead{
    margin-top: 15px;
 }
 .container .rcont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    
 }
  .container .rcont .r1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 25%;
    
  }
  .container .rcont .r1 p{
    font-size: 13px;
  }
   .container .rcont .r1 .img{
    margin-top: 50px;
   }
   .container .rcont .r2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 45%;
    padding: 5px;
  }
   .container .rcont .r3{
     
    width: 25%;
  }
  
 .container .rcont .r2 .img{
    margin-top: 50px;
 }
  .container .rcont .r2 .text{
    margin-top: 5px;
  }
  .container .rcont .r2 .text{
    font-size: 13px;
  }

  .container .rcont .r3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 25%;
    
  }
  .container .rcont .r3 p{
    font-size: 13px;
    font-style: italic;
  }
   .container .rcont .r3 .img{
    margin-top: 150px;
   }

   .but button{
    width: 200px;
    outline: none;
    text-decoration: none;
    height: 40px;
    border-radius: 20px;
    padding: 4px;
    background-color: #3e09dc;
    border: none;
}
.containerx{
  display: block;
  
}
.containerx .ahead{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerx .form{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0px;
  flex-direction: column;
  
}
.containerx .form .nom{
  display: flex;
  flex-direction: column;
  justify-content: sp;
  margin-top: 5px;
 
}
.containerx .form .nom span{
  margin-bottom: 5px;
}
.containerx .form .nom input{
  width: 250px;
  height: 50px;
  padding: 10px;
}
.containerx .form .nom select{
  width: 250px;
  height: 50px;
  padding: 10px;
}
.containerx .buton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5px;
  flex-direction: column;
  margin-top: 20px;

}
.containerx .buton button{
  width: 200px;
  height: 40px;
  text-decoration: none;
  border: none;
  outline: none;
background-color: black;
color: white;
}

/* CSS du footer */
footer {
    background-image: url("../assets/fond-footer.png");
    background-size: cover;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.réseaux-sociaux {
    display: flex;
    align-items: center;
    gap: 25px;
}

.réseaux-sociaux a {
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.réseaux-sociaux a:hover {
    background-color: #fff;
    border-color: #4583A2;
}

.réseaux-sociaux img {
    width: 30px;
    height: 30px;
}

.image-du-milieu {
    flex: 1;
    background-image: url('../assets/CMS-MASTER.png');
    background-size: 500px 300px;
    background-position: 430px center;
    background-repeat: no-repeat;
}

bodyCo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.containerCo {
  width: 350px;
  height: 350px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  display: flex; /* Utilisation de flexbox pour centrer verticalement */
  flex-direction: column; /* Les éléments seront alignés verticalement */
  justify-content: center; /* Centrer verticalement les éléments */
  align-items: center; /* Centrer horizontalement les éléments */
  border-radius: 20px; /* Ajout de bords arrondis */
}
.itemCo {
  margin: 5px; /* Espacement de 5px entre les éléments */
  text-align: center;
  padding: 10px;
}


.menuroulant {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuroulant li {
  position: relative;
}

.menuroulant li a:link, .menuroulant li a:visited {
  display: block;
  color: #FFFFFF;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.menuroulant li a:hover {
  background-color: #199BD2;
}

.menuroulant li a:active {
  background-color: #808080;
}

.menuroulant .sousmenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none; /* Supprime les puces de liste */
}

.menuroulant li:hover .sousmenu {
  display: block;
}

.menuroulant .sousmenu li {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
}

.menuroulant .sousmenu li a:link, .menuroulant .sousmenu li a:visited {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #808080;
}

.menuroulant .sousmenu li a:hover {
  background-color: #199BD2;
}